<h1>My Chats</h1>
<?php echo isset($this) ? $this->create('messages.html', $this->data) : ''; ?>

<ul>
    <?php foreach ($chats ?? [] as $chat) { ?>
    <li>
        <a href="?q=editchat&id=<?php echo $chat['id'] ?? '' ?>">{{ $chat['name'] }}</a>
        <a href="?q=deletechat&id=<?php echo $chat['id'] ?? '' ?>">Delete</a>
        <form method="POST" action="?q=start-conversation">
            {{ $token }}
            <input type="hidden" name="chat_id" value="{{ $chat['id'] }}">
            <input type="submit" value="Start conversation">
        </form>
    </li>
    <?php } ?>
</ul>

<a href="?q=logout">Logout</a>
<a href="?q=createchat">Create new chat</a>